/* <a href="https://www.freepik.com/free-photo/black-men-cafe-have-business_7710324.htm#query=black%20people&position=4&from_view=search&track=ais">Image by prostooleh</a> on Freepik */

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    background-color: white;
    height: auto;
    flex-direction: column;
    /* overflow-y: scroll; */
}

/* Header */
.header{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: black;
    /* position: sticky;
    top: 0; */
    
}

.head-left{
    display: flex;
    flex: 0.4;
    flex-direction: row;
}
.head-right{
    display: flex;
    flex: 0.6;
    flex-direction: row;
    justify-content: flex-end;
}

.wiki{
    width: 180px;
    height: 40px;
    align-self: center;
    margin-right: 40px;
    margin-top: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background-color: black;
    border: 2px white solid;
}
.about{
    width: 180px;
    height: 40px;
    align-self: center;
    margin-right: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background-color: black;
    border: 2px white solid;
}
.credit{
    width: 180px;
    height: 40px;
    align-self: center;
    margin-right: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background-color: black;
    border: 2px white solid;
}

.wiki:hover{
    border: 2px gold solid;
}
.about:hover{
    border: 2px gold solid;
}
.credit:hover{
    border: 2px gold solid;
}

/* Main body */

.body{
    display: flex;
    flex-direction: row;
    height: 445px;
}
.body-left{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}
.body-right{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}
.headline{
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
    /* color: gold; */
}
.sub{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-left: 30px;
    color: gold;
}

.wiki2{
    width: 180px;
    height: 40px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border: 2px black solid;
    background-color: white;
    margin-top: 20px;
}
.wiki2:hover{
    border: 2px gold solid;

}

.body-left{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    padding: 15px;
}

.image{
    /* background-color: black; */
    height: 400px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black;
    background-image: url("./black-men.jpg");
    background-size: cover;
    
}

/* Footer */
.footer{
    height: 90px;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.foot-left{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.foot-right{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.copy{
    color: white;
    font-family: 'Lato', sans-serif;
}


/* Media query for screens with a maximum width of 768px (small devices) */
@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      align-items: center;
    }
  
    .head-left,
    .head-right {
      justify-content: center;
      margin: 10px 0;
    }
  
    .body {
      flex-direction: column;
      height: 700px;
    }
  
    .headline {
      font-size: 60px;
      margin-left: 20px;
    }
  
    .sub {
      font-size: 16px;
    }
  
    .body-left,
    .body-right {
      flex: 1;
    }
  
    .image {
      height: 400px;
      width: 90%;
      margin-top: 30px;
    }
    .footer{
        height: 120px;
    }

    .wiki2{
        margin-left: 30px;
    }
  }
  
  /* Maximum width of 480px (extra small devices) */
  @media screen and (max-width: 480px) {
    .headline {
      font-size: 40px;
    }
  
    .sub {
      font-size: 12px;
      margin: 10px;
    }
  
    .wiki,
    .about,
    .credit,
    .wiki2 {
      width: 100px;
      font-size: 14px;
      margin-right: 5px;
    }
  }
  