<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credits.css') }}">
</head>
<body>

    <div class="container">
        <p>Cyst Company Limited</p>
    </div>
    <div class="container">
        <p>Huggingface</p>
    </div>
    <div class="container">
        <p>Wikipedia & Wikipedia API</p>
    </div>
    <div class="container">
        <p>Python</p>
    </div>
    
</body>
</html>