<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

    <title>Twi-Wiki</title>
</head>
<body>
    <!-- Header of the site -->
    <div class="header">
        <div class="head-left"></div>
        <div class="head-right">
            <a href="./wiki.html">
                <button class="wiki" >Go to Wiki</button>
            </a>
            <!-- <button class="about">About</button> -->
            <a href="./credits.html">
                <button class="credit">Credits</button>
            </a>
        </div>

    </div>

    <!-- Body of the site -->
    <div class="body">
        <div class="body-left">

            <a href="https://www.freepik.com/free-photo/black-men-cafe-have-business_7710324.htm#query=black%20people&position=4&from_view=search&track=ais">
                <div class="image">
            </a>
            
            </div>

        </div>
        <div class="body-right">
            <!-- <p class="headline">Have fun!</p> -->
            <p class="headline">Read summarised articles.</p>
            <!-- <p class="sub">FAST and CONVENIENT</p> -->
            <a href="./wiki.html">

                <button class="wiki2"> Go to Wiki</button>
            </a>
        </div>
        
    </div>

    <!-- Footer of the site -->
    <div class="footer">
        <div class="foot-left">
            <p class="copy">&copy;2023 CYST Internship</p>
            <p class="copy">Translates Random Wikipedia Articles to Akan</p>
        </div>
        <div class="foot-right">
            <p class="copy">Developed by: Ewura Ama Sam</p>
            <a href="https://www.linkedin.com/in/ewura-ama-sam-764694205/">
                <p class="copy">More about the developer</p>
            </a>
        </div>
    </div>
</body>
</html>