<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./wiki.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wiki.css') }}">
    <title>WIKI</title>
</head>
<body>
    <div class="body-right">
        <div class="section">
            <div class="summary">
                <p class="translated">
                    {{translated_text}}
                </p>
            </div>
            <div class="actions">
                <form method="POST" action="/wiki">
                    <button class="submit" type="submit">Generate an Article</button>
                </form>
                <!-- <form>
                    <button class="submit" type="submit">Translate an article</button>
                </form> -->

                
            </div>
        </div>
    </div>

    <div class="body-left">
        <div class="content">
            <p class="title">{{ article_title }}</p>
            
            <div class="article-content">{{ article_content|safe }}</div>
            </div>
    </div>
    
</body>
</html>
